{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=https://localhost:10000/devstoreaccount1;",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "COSMOS_ENDPOINT": "https://localhost:8081",
    "COSMOS_KEY": "C2y6yDjf5/R+ob0N8A7Cgv30VRDJIWEHLM+4QDU5DE2nQ9nDuVTqobD4b8mGGyPMbIZnqyMsEcaGQy67XIw/Jw==",
    "COSMOS_DATABASE_NAME": "secretsanta",
    "COSMOS_CONTAINER_NAME": "games",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "",
    "ACS_CONNECTION_STRING": "",
    "APP_BASE_URL": "http://localhost:5173",
    "ENVIRONMENT": "local"
  },
  "Host": {
    "CORS": "*",
    "CORSCredentials": false
  }
}
